doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Browser mini golf game")
    title "Putt Putt"

    link(rel="stylesheet" href="style.styl")

body

  h1 Putt Putt

  canvas#canvas(width="300" height="300" style="background: green")
  button#putt Putt
  script(src="script.js")
